@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@font-face {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	src: url(../fonts/impact.ttf);
}
*{box-sizing: border-box;}
a{text-decoration: none; color: #363636;}
ul{padding: 0; margin: 0;}
li{list-style: none;}
body{margin: 0}
    /*=================HEADER===================*/
.header{

	font-family: Roboto Condensed;
	font-weight: 400;
	font-size: 15.53px;
	line-height: 18.2px;
	
}
.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	position: absolute;
	left: 0;
	right: 0;
}
.menu{
	display: flex;
	margin: 0 auto;
	gap:40px;
}
.l{
	margin-left: 225px;
	margin-right: 119px;
}
.r{
	margin-right: 285px;
	margin-left: 125px;
}
.nav img{
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
    /* =================END-HEADER===================-*/
    /*=================SECTION-1===================*/
.section-1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.title{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 0;
}
.t1{
	font-size: 76px;
	line-height: 93px;
	letter-spacing: 0.02em;
	margin: 0px 357px;
}
.t2{
	font-size: 48px;
	line-height: 59px;
	margin-top: 10px;
}
.t3{
	font-size: 34px;
	line-height: 34px;
	color: #9F6B08;
	margin-top: 10px;
}
.section-1{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding-top: 90px;
	background: url(../img/lambo-back.png);
	background-size: cover;
	height: 100vh;
}
.section-1 span{
	width: 386px;
	border-top: 1px solid black;
	padding-top: 10px;
	text-align: center;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 15.5307px;
	line-height: 18px;
}
.gexarrow{
	position: absolute;
	left: 837px;
	top: 785px;
}
/*-- =================END-SECTION-1===================*/
/*-- =================SECTION-2===================*/
.wrapper{
	max-width: 894px;
	margin: 0 auto;
}
.sec-2_title{
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 38px;
	margin-top: 100px;
	margin-bottom: 34px;
}
.super-trofeo_final_text{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}
.super-trofeo_text{
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
}
.super-trofeo_final_text_regular{
	max-width: 438px;
}
.super-trofeo_final_text_bold{
	max-width: 438px;
	font-weight: 700;
}
.super-trofeo_team{
	display: flex;
	flex-direction: row;
}
.super-trofeo_team_info{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.super-trofeo_team_info_1_width{
	max-width: 352px;
}
.super-trofeo_team_geximg{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-left: 106px;
}
.super-trofeo_calendar_title{
	max-width: 415px;
}
.super-trofeo_calendar_info{
	max-width: 377px;
}
.super-trofeo_calendar_stages{
	display: flex;
	max-width: 449px;
	gap: 20px;
	padding-top: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 100px;
}
.super-trofeo_calendar_table{
	margin-bottom: 20px;
}
.super-trofeo_calendar{
	display: flex;
	flex-direction: row;
}
.super-trofeo_racetrack{
	background: url(../img/racetrack-back.png);
	background-size: cover;
	height: 100vh;
}
.super-trofeo_racetrack_title h2{
	padding-top: 47px;
}
.super-trofeo_racetrack_info{
	max-width: 434px;
}
.super-trofeo_racetrack_img{
	position: absolute;
	left: 700px;
	top: 3150.52px;
}

.super-trofeo_evo{
	background-color: #363636;
	color: #FFFFFF;
	padding-top: 100px;
	height: 871px;
}
.sec-3_title{
	width: 266px;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 38px;
}
.super-trofeo_evo_text{
	display: flex;
	flex-direction: row;
	gap: 192px;
}
.super-trofeo_evo_info{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.super-trofeo_evo_img{
	display: flex;
	justify-content: center;
	margin-top: 200px;
	z-index: 3;
}
.super-trofeo_evo_settings{
	display: flex;
	align-items: center;
	justify-content: center;
}
.super-trofeo_evo_settings_list{
	display: flex;
	flex-direction: row;
	gap: 65px;
	margin-top: 58px;
}
.super-trofeo_evo_backimg{
	position: absolute;
	left: 355px;
	top: 3915px;
	z-index: 1;
}
.lamboimg{
	z-index: 2;
}
.section-4{
	margin-top: 126px;
}
.super-trofeo_blog_text{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.text1{
	max-width: 285px;
}
.text2{
	max-width: 437px;
}
.text3{
	max-width: 590px;
}
.lambo-side_img{
	position: absolute;
	top: 4543px;
	left: 883px;
	z-index: 3
}
.super-trofeo_blog_position{
	display: flex;
	flex-direction: row;
}
.super-trofeo_blog_video{
	margin-top: 100px;
}